<h1>看板列表</h1>

<table class="table table-sm">
  <thead>
    <th scope="col" class="">文章名稱</th>
    <th scope="col" class=""></th>
    <th scope="col" class=""></th>
  </thead>

  <tbody>
    <% @boards.each do |board|%> 
    <tr>
      <td><%= link_to board.title, board_path(board)%></td>
      <%# byebug %>
      <%= board_action_links(board) %>
    </tr>
    <% end %> 
  </tbody>
</table>

<%= link_to '新增看板', new_board_path if (user_signed_in?) %>


